	    <section id="download" class="text-center">
	        <div class="download-section">
	            <div class="container">
	                <div class="col-lg-8 col-lg-offset-2">
	                    <h2>Sears Video Reviews</h2>
	                    <p>Built during the Sears Hackathon 2014 NYC.</p>
	                    <a href="#page-top" class="btn btn-default btn-lg">Back Up</a>
	                </div>
	            </div>
	        </div>
	    </section>
	</body>
</html>
